.modal {
  position:fixed;
  top:50%;
  left:50%;
  animation: animateIn ease-in-out 1s;
  animation-duration:1s;
  animation-fill-mode: both;
  z-index:2; 
  width:80%;
  max-width:1000px;
  max-height:80vh;
  min-height:50vh; //For animation purposes, when images are loading slow, it causes glitches in height
  height: auto; 
  background:#eaeaea;
  box-shadow:0px 3px 5px rgba(0,0,0,0.4);
  border-radius:15px;
  padding:20px;

  h2 {
    text-align:center;
  }

  .close {
    position:absolute;
    top:-20px;
    right:-20px;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:50%;
    background:red;
    color:white;
    font-weight:bold;
    border:1px solid white;

    &:hover {
      cursor:pointer;
    }
  }

  &-content, &-signup {
    display:inline-block;
    box-sizing:border-box;
    padding:15px;
    vertical-align:top;

    img {
      max-width:100%;
    }
  }

  &-content {
    width:60%;
  }

  .info-container {
    display:flex;
    justify-content: space-between;
  }

  input{
    display:inline-block;
    width:65%;
    margin:5px 0px;
  }

  .label {
    font-size:14px;
    margin:4px 0px;
    display:flex;

    span {
      font-weight:bold;
    }
  }
}

.overlay{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,0.3);
  z-index:1;
}

@keyframes animateIn {
  //translateZ USE GPU for animation, force hardware acceleration
  0% {
    transform:translate(-50%, -200%) translateZ(0);
  }
  60% {
    transform:translate(-50%,-49%) translateZ(0);
  }
  80% {
    transform:translate(-50%,-51%) translateZ(0);
  }
  100% {
    transform:translate(-50%,-50%) translateZ(0);
  }
}